* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

.sidebar, .macro-area ,.footer-player {
	position: fixed;
}

.sidebar, .macro-area {
	height: calc(100vh - 90px);
}


/***NB.Usare variabili colori***/


li,ul {
	list-style: none;
	
}

body {
    background-color:rgb(161, 161, 161);
}
/***navbar sinistra RULES***/
.sidebar {
	box-sizing: border-box;
	width: 11%;
	height: 100vh;
	background-color:#000000;
	border: 2px dashed rgb(50, 205, 97);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	

}

.col_sidebar{
	border: 2px solid orange;
	padding: 30px;
	
}

.logo {
	border: 2px solid orange;
	height: 8%;
}

.logo img {
	width: 160px;
	height: 61px;
}





/**MACRO AREA RULES***/

.macro-area {
	box-sizing: border-box;
	/*position: absolute;*/
	width: 100%;
	height: 100vh;
	background-color:#51ccccef ;
	left: 200px;
	border: 2px dashed red;
	overflow: hidden;
}


/****SIDEBAR RULES***/

.footer-player {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	background-color: #282828;
	bottom:0;
	padding: 30px;
	border: 2px solid yellow;
	display: flex;
	justify-content: space-between;
}


/**Sinister**/
.sinister{
	color: white;

}

.list_sinister {
	display: flex;
	flex-direction: row;
}

.list_sinister img {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.list_sinister i {
	margin-top: 20px;
	margin-left: 10px;
	color:#5A5A5A ;
    
}

/**player**/
.player-icon1 {
	display: flex;
	flex-direction: row;
	color: white;
	gap: 10px;
	padding-left: 250px;
	
}


.player-icon1 i{
	font-size: 20px;
	
}

.player-icon2{
	display: flex;
	flex-direction: row;
	
	

}

.player-icon2 p {
	color: white;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 15px;
	font-size: 13px;
}


.progress-bar {
    background-color: #999999b6;
    height: 7px;
    width: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

/***start**/
.start {
	color: white;
}

.list_start{
	display: flex;
	flex-direction: row;
	color: white;
	gap: 15px;
	font-size: 15px;

}

.list_start i {
	margin-top: 20px;
}

.start-bar {
	width: 118px;
}





/****VERSIONE RESPONSIVE***/


/***-------MOBILE-------**/

@media screen and (max-width: 552px){

	.sidebar {
		width: 10%;
		position: fixed;
	}

	.macro-area {
		width: 100%;
		background-color: royalblue;
		left: 50px;
	}
 
	
/**----------------player footer------------------------***/
	.footer-player {
		width: 100%;
	}

	.footer-player p {
		font-size: 10px;
	}

 /**--SINISTER--***/
	.sinister {
		width: 20%;
	}

	.list_sinister {
		display: flex;
		flex-direction: row;

	}
	
	.list_sinister img {
		width: 30px;
		height: 30px;
		
	}
	
	.list_sinister i {
		font-size: 10px;
		color:#474646 ;
		display: flex;
		flex-direction: column;
		margin: 3px;
		
	}


	/**--PLAYER--**/
	.player-icon1{
		width: 10px;
		text-align: center;
		padding-right: 300px;
		padding-left: 30px;

	}

    .player-icon1 i {
		margin: 3px;
	}

	.player-icon2{
		padding-left: 2px;
	}


	/**--PROGRESS-BAR--***/

	.progress-bar{
		width: 100px;
		
	}
	
	
	/**--START--**/

	.start {
		width: 30%;
		margin-left: -100px;
	}

	.start-bar{
		width: 50px ;
	}

	

}



	/***-----TABLET-----**/

@media screen and (max-width: 639px){

	.sidebar {
		width: 30%;
		position: fixed;
	}

	.macro-area {
		width: 100%;
		background-color: royalblue;
		left: 90px;
	}
 
	
	
	
/**----------------player footer------------------------***/
	.footer-player {
		width: 100%;
	}

	.footer-player p {
		font-size: 10px;
	}

 /**--SINISTER--***/
	.sinister {
		width: 20%;
	}

	.list_sinister {
		display: flex;
		flex-direction: row;

	}
	
	.list_sinister img {
		width: 30px;
		height: 30px;
		
	}
	
	.list_sinister i {
		font-size: 10px;
		color:#474646 ;
		display: flex;
		flex-direction: column;
		margin: 3px;
		
	}


	/**--PLAYER--**/
	.player-icon1{
		width: 10px;
		text-align: center;
		padding-right: 300px;
		padding-left: 30px;

	}

    .player-icon1 i {
		margin: 3px;
	}

	.player-icon2{
		padding-left: 2px;
	}


	/**--PROGRESS-BAR--***/

	.progress-bar{
		width: 100px;
		
	}
	
	
	/**--START--**/

	.start {
		width: 30%;
		margin-left: -100px;
	}

	.start-bar{
		width: 50px ;
	}

	



	

}	


	




