* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

.sidebar, .macro-area ,.footer-player {
	position: fixed;
}

.sidebar, .macro-area {
	height: calc(100vh - 90px);
}


/***NB.Usare variabili colori***/


li,ul {
	list-style: none;
	
}

body {
    background-color:rgb(161, 161, 161);
}


/***-----SIDEBAR RULES------***/
.sidebar {
	box-sizing: border-box;
	width: 12%;
	height: calc(100%- 140px);
	background-color:#000000;
	border: 2px dashed rgb(50, 205, 97);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	

}

.col_sidebar{
	/**border: 2px solid orange;**/
	padding: 30px;
	
}
/***LOGO**/
.logo {
	/**border: 2px solid orange;**/
	height: 8%;
	padding: 20px;
}

.logo img {
	width: 140px;
	height: 61px;
	
}

/***HOME***/

.green-bar{
	background-color:#ADFF2F ;
	width: 3px;
	height: 40px;
	margin-right: 20px;
}

.home-bar_green{
	color: white;
	display: flex;
	gap: 7px;
	padding: 2px;
	margin-left: -30px;
	font-size: 12px;
}

.home-bar {
	color:#6E6E6E;
	
	display: flex;
	gap: 7px;
	font-size: 12px;
	
}

.home i {
	margin-bottom: 10px;
	font-size: 20px;

}

/***PLAYLIST***/

.playlist {
	color: #6E6E6E;
	padding-left: 20px;
	padding-top: 0;
	display: flex;
	font-size: 12px;
	
}

.playlist h2 {
	color: white;
	font-size: 15px;
}

.playlist li {
	margin: 10px;
}


.edit-playlist {
	display: flex;
	

}

.edit-playlist i {
	font-size: 40px;
	margin-right: 5px;
	color:#A3A3A3 ;
}

.edit-playlist h3 {
	margin-top: 10px;
}

/**FOOTER-SIDERBAR***/

.footer_sidebar {
	margin-top: auto;
	padding-top: 0;
	height: 110px;
	
	
}

.install_sidebar {
	display: flex;
	font-size: 10px;
	gap: 10px;
	color:#6E6E6E ;
	margin-bottom: 10px;
	
}

.install_sidebar i {
	margin-top: 3px; 
}

.hr_sidebar {
	color: #a09d9d ;
	height: 1px;
}

.name_sidebar {
	display: flex;
	padding-bottom: 20px;
	padding-top: 5px;
	color: white;

}

.name_sidebar i {
	background-color:#6E6E6E ;
	border-radius: 50px;
	object-fit: cover;
	aspect-ratio: 1;
	font-size: 30px;
	margin-right: 5px;
}


/******ICONE MOBILE**********/
.house, .search , .library {
	display: none;
	
}

.logo_small {
	display: none;
}

.arrow_mobile {
	display: none;
}



/**-----MACRO AREA RULES----***/

.macro-area {
	box-sizing: border-box;
	/*position: absolute;*/
	width: 100%;
	height: 100vh;
	background-color:#51ccccef ;
	left: 225px;
	border: 2px dashed red;
	overflow: hidden;
}


/****----PLAYER RULES-----***/

.footer-player {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	background-color: #282828;
	bottom:0;
	padding: 30px;
	border: 2px solid yellow;
	display: flex;
	justify-content: space-between;
}


/**Sinister**/
.sinister{
	color: white;

}

.list_sinister {
	display: flex;
	flex-direction: row;
}

.list_sinister img {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.list_sinister i {
	margin-top: 20px;
	margin-left: 10px;
	color:#5A5A5A ;
    
}

/**player**/
.player-icon1 {
	display: flex;
	flex-direction: row;
	color: white;
	gap: 10px;
	padding-left: 250px;
	
}


.player-icon1 i{
	font-size: 20px;
	
}

.player-icon2{
	display: flex;
	flex-direction: row;
	
	

}

.player-icon2 p {
	color: white;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 15px;
	font-size: 13px;
}


.progress-bar {
    background-color: #999999b6;
    height: 7px;
    width: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

/***start**/
.start {
	color: white;
}

.list_start{
	display: flex;
	flex-direction: row;
	color: white;
	gap: 15px;
	font-size: 15px;

}

.list_start i {
	margin-top: 20px;
}

.start-bar {
	width: 118px;
}





/****VERSIONE RESPONSIVE***/


/***-------MOBILE-------**/

@media screen and (max-width: 552px){

	.sidebar {
		width: 10%;
		position: fixed;
	}

	.macro-area {
		width: 100%;
		background-color: royalblue;
		left: 40px;
	}
 
	
/**----------------player footer------------------------***/
	.footer-player {
		width: 100%;
	}

	.footer-player p {
		font-size: 10px;
	}

 /**--SINISTER--***/
	.sinister {
		width: 20%;
	}

	.list_sinister {
		display: flex;
		flex-direction: row;

	}
	
	.list_sinister img {
		width: 30px;
		height: 30px;
		
	}
	
	.list_sinister i {
		font-size: 10px;
		color:#474646 ;
		display: flex;
		flex-direction: column;
		margin: 3px;
		
	}


	/**--PLAYER--**/
	.player-icon1{
		width: 10px;
		text-align: center;
		padding-right: 300px;
		padding-left: 30px;

	}

    .player-icon1 i {
		margin: 3px;
	}

	.player-icon2{
		padding-left: 2px;
	}


	/**--PROGRESS-BAR--***/

	.progress-bar{
		width: 100px;
		
	}
	
	
	/**--START--**/

	.start {
		width: 30%;
		margin-left: -100px;
	}

	.start-bar{
		width: 50px ;
	}


/****--------ICONE SIDEBAR-------***/

    .house, .search , .library , .logo_small , .arrow_mobile {
	display: block;
	color: white;

}

   .logo_small img {
	width: 40px;
	height: 44px;
	position: absolute;
	top: 0;
	padding-left: -5px;
	left: 30px;
	padding: 3px;
	

   }

   .house i {
	position: absolute;
	top: 60px;
	left: 30px;
	font-size: 30px;

   }

   .search i {
	position: absolute;
	top: 110px;
	left: 30px;
	font-size: 30px;
	color:#CFD0CF ;

   }

   .library i {
	position: absolute;
	top: 160px;
	left: 30px;
	font-size: 30px;
	color:#CFD0CF ;

   }

   .arrow_mobile {
	font-size: 13px;
	position: relative;
	left: 10px;
	bottom: 15px;
	color:#CFD0CF ;
   }




   .logo img, .home ul , .playlist ul{
	display: none;
}
   
   .install_sidebar , .hr_sidebar, .name_sidebar h4 {
	display: none;
   }

	

}



	/***-----TABLET-----**/

@media screen and (max-width: 639px){

	.sidebar {
		width: 30%;
		position: fixed;
	}

	.macro-area {
		width: 100%;
		background-color: royalblue;
		left: 90px;
	}
 
	
	
	
/**----------------player footer------------------------***/
	.footer-player {
		width: 100%;
	}

	.footer-player p {
		font-size: 10px;
	}

 /**--SINISTER--***/
	.sinister {
		width: 20%;
	}

	.list_sinister {
		display: flex;
		flex-direction: row;

	}
	
	.list_sinister img {
		width: 30px;
		height: 30px;
		
	}
	
	.list_sinister i {
		font-size: 10px;
		color:#474646 ;
		display: flex;
		flex-direction: column;
		margin: 3px;
		
	}


	/**--PLAYER--**/
	.player-icon1{
		width: 10px;
		text-align: center;
		padding-right: 300px;
		padding-left: 30px;

	}

    .player-icon1 i {
		margin: 3px;
	}

	.player-icon2{
		padding-left: 2px;
	}


	/**--PROGRESS-BAR--***/

	.progress-bar{
		width: 100px;
		
	}
	
	
	/**--START--**/

	.start {
		width: 30%;
		margin-left: -100px;
	}

	.start-bar{
		width: 50px ;
	}

	



	

}


/******versione TABLET GRANDE (?)*****/

@media screen and (max-width: 878px){

	.sidebar {
		width: 30%;
		position: fixed;
	}

	.macro-area {
		width: 100%;
		background-color: royalblue;
		left: 90px;
	}
 
	
/**----------------player footer------------------------***/
	.footer-player {
		width: 100%;
	}

	.footer-player p {
		font-size: 10px;
	}

 /**--SINISTER--***/
	.sinister {
		width: 20%;
	}

	.list_sinister {
		display: flex;
		flex-direction: row;

	}
	
	.list_sinister img {
		width: 30px;
		height: 30px;
		
	}
	
	.list_sinister i {
		font-size: 10px;
		color:#474646 ;
		display: flex;
		flex-direction: column;
		margin: 3px;
		
	}


	/**--PLAYER--**/
	.player-icon1{
		width: 10px;
		text-align: center;
		padding-right: 300px;
		padding-left: 30px;

	}

    .player-icon1 i {
		margin: 3px;
	}

	.player-icon2{
		padding-left: 2px;
	}


	/**--PROGRESS-BAR--***/

	.progress-bar{
		width: 100px;
		
	}
	
	
	/**--START--**/

	.start {
		width: 30%;
		margin-left: -100px;
	}

	.start-bar{
		width: 50px ;
	}


/****--------ICONE SIDEBAR-------***/

    /**.house, .search , .library , .logo_small , .arrow_mobile {
	display: block;
	color: white;

}

   .logo_small img {
	width: 40px;
	height: 44px;
	position: absolute;
	top: 0;
	padding-left: -5px;
	left: 30px;
	padding: 3px;
	

   }

   .house i {
	position: absolute;
	top: 60px;
	left: 30px;
	font-size: 30px;

   }

   .search i {
	position: absolute;
	top: 110px;
	left: 30px;
	font-size: 30px;
	color:#CFD0CF ;

   }

   .library i {
	position: absolute;
	top: 160px;
	left: 30px;
	font-size: 30px;
	color:#CFD0CF ;

   }

   .arrow_mobile {
	font-size: 13px;
	position: relative;
	left: 10px;
	bottom: 15px;
	color:#CFD0CF ;
   }




   .logo img, .home ul , .playlist ul{
	display: none;
}
   
   .install_sidebar , .hr_sidebar, .name_sidebar h4 {
	display: none;
   }

	

}


/******versione desktop piccolo (?)*****/

@media screen and (max-width: 1440px){

	.sidebar {
		width: 20%;
		position: fixed;
	}

	.macro-area {
		width: 100%;
		background-color: royalblue;
		left: 100px;
	}
 
	
/**----------------player footer------------------------***/
	.footer-player {
		width: 100%;
	}

	.footer-player p {
		font-size: 10px;
	}

 /**--SINISTER--***/
	.sinister {
		width: 20%;
	}

	.list_sinister {
		display: flex;
		flex-direction: row;

	}
	
	.list_sinister img {
		width: 30px;
		height: 30px;
		
	}
	
	.list_sinister i {
		font-size: 10px;
		color:#474646 ;
		display: flex;
		flex-direction: column;
		margin: 3px;
		
	}


	/**--PLAYER--**/
	.player-icon1{
		width: 10px;
		text-align: center;
		padding-right: 300px;
		padding-left: 30px;

	}

    .player-icon1 i {
		margin: 3px;
	}

	.player-icon2{
		padding-left: 2px;
	}


	/**--PROGRESS-BAR--***/

	.progress-bar{
		width: 100px;
		
	}
	
	
	/**--START--**/

	.start {
		width: 30%;
		margin-left: -100px;
	}

	.start-bar{
		width: 50px ;
	}


/****--------ICONE SIDEBAR-------***/

    /**.house, .search , .library , .logo_small , .arrow_mobile {
	display: block;
	color: white;

}

   .logo_small img {
	width: 40px;
	height: 44px;
	position: absolute;
	top: 0;
	padding-left: -5px;
	left: 30px;
	padding: 3px;
	

   }

   .house i {
	position: absolute;
	top: 60px;
	left: 30px;
	font-size: 30px;

   }

   .search i {
	position: absolute;
	top: 110px;
	left: 30px;
	font-size: 30px;
	color:#CFD0CF ;

   }

   .library i {
	position: absolute;
	top: 160px;
	left: 30px;
	font-size: 30px;
	color:#CFD0CF ;

   }

   .arrow_mobile {
	font-size: 13px;
	position: relative;
	left: 10px;
	bottom: 15px;
	color:#CFD0CF ;
   }




   .logo img, .home ul , .playlist ul{
	display: none;
}
   
   .install_sidebar , .hr_sidebar, .name_sidebar h4 {
	display: none;
   }**/

	

}




	




