* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
    background-color:rgb(161, 161, 161);
}
/***navbar sinistra RULES***/
.navbar {
	box-sizing: border-box;
	position: absolute;
	width: 200px;
	height: 100vh;
	background-color: rgba(102, 100, 100, 0.11);
	border: 2px dashed rgb(50, 205, 97);

}

/**MACRO AREA RULES***/

.conteiner_macro {
	box-sizing: border-box;
	position: absolute;
	width: 89%;
	height: 100vh;
	background-color:#e3fafa18 ;
	left: 200px;
	border: 2px dashed red;
}


/****SIDEBAR RULES***/

.sidebar {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	background-color: #282828;
	bottom:0;
	padding: 30px;
	border: 2px solid yellow;
}


/****VERSIONE RESPONSIVE***/


/***TABLET**/

@media screen and (max-width: 878px){

	.navbar {
		width: 60px;
	}

	.conteiner_macro {
		width: 93%;
		left: 60px;
	}

	

}

